<div class="tooltip-settings ts-source red">
    <div class="ts-source-table">
      <div class="ts-source-table-cell">
        <img src="/images/icons/icon_w_5.png"> Sports
        <div>
          <div class="ts-source-choice">
              <img class="pull-left" src="http://a.espncdn.com/favicon.ico">
              <h2 class="">ESPN NFL</h2>
          </div>
        </div>
      </div>
      <div class="ts-source-table-cell">
        <img src="/images/icons/icon_w_6.png"> Hockey
      </div>
      <div class="ts-source-table-cell">
        <img src="/images/icons/icon_w_4.png"> NFS
      </div>
    </div>
  </div>